# Database
DATABASE_URL="mongodb+srv://localhost:27017/sms-gateway"

# Server
NODE_ENV="development"
PORT=3000

# Better Auth
BETTER_AUTH_SECRET="your-secret-key-here-change-in-production"
BETTER_AUTH_URL="http://localhost:3000"
